<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cake Statistics</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/add}" >Add Cake</a></li>
            <li><a th:href="@{/view}">View Cakes</a></li>
            <li><a th:href="@{/stats}" class="active">Stats</a></li>
        </ul>
    </nav>
    <table>
        <thead>
            <tr>
                <th>Statistic</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total Cakes</td>
                <td th:text="${totalCakes}"></td>
            </tr>
            <tr>
                <td>Average Price</td>
                <td th:text="${averagePrice}"></td>
            </tr>
            <tr>
                <td>Maximum Calories</td>
                <td th:text="${maxCalories}"></td>
            </tr>
            <tr>
                <td>Maximum Size</td>
                <td th:text="${minSize}"></td>
            </tr>
            <tr>
                <td>Number of Vegan Cakes</td>
                <td th:text="${veganCakeCount}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
